// nextflow.config

// 1. 파라미터 설정
params {
    // 입력 파일 (실제 데이터용 샘플시트)
    input = 'sample_sheet_public.csv'
    // 결과가 저장될 디렉토리
    outdir = './results_public'

    // ==========================================================
    // 영구 데이터베이스 경로 설정
    // 이 경로들이 비어있으면, 첫 실행 시 Nextflow가 자동으로
    // 전체 DB를 다운로드하여 이곳에 저장합니다.
    // ==========================================================
    // gtdb_path   = '/db/tool_specific_db/gtdbtk/r220_v2'      // GTDB-Tk DB 경로
    // checkm_path = '/db/tool_specific_db/checkm_db'   // CheckM DB 경로
    // kraken2_db  = '/db/tool_specific_db/kraken2/standard_2024-01-12'     // Kraken2 DB 경로
    // eggnog_db_path = '/db/tool_specific_db/eggnog/5.0.2' // 기능 분석 시 필요
    busco_reference_path = '/db/tool_specific_db/busco/v5'
}

// 2. 실행 프로파일 및 자원 설정
profiles {
    standard {
        // 기본 프로파일 설정 (변경 필요 없음)
    }
    singularity {
        // singularity (apptainer) 사용 설정
        singularity.enabled = true
        singularity.autoMounts = true
        // .bashrc에 설정했지만, config에 명시해두면 더 확실합니다.
        singularity.cacheDir = '/home/kyuwon/.singularity/cache'
    }
}
// 3. 프로세스별 자원 할당 (<<---- 이 부분이 추가되었습니다!)
process {
    /*
     * 'SPAdes' 라는 이름이 포함된 모든 프로세스를 선택하여
     * 기본 설정(72.GB) 대신 지정된 메모리(150.GB)와 CPU(16)를 할당합니다.
     * 다른 프로세스들은 기존 기본 설정을 그대로 사용합니다.
     */
    withName: '.*SPADES' {
        memory = '150.GB'
        cpus = 16
    }
    withName: 'NFCORE_MAG:MAG:BUSCO_QC:BUSCO' {
        stageInMode = 'copy'
    }
}